body, html {
    margin: 0px;
    padding: 0px;
}

.header {
    font-family: Roboto;
    color: white;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 300px;
    padding-right: 400px;

}

.header img {
    margin-right: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-shrink: 0;
}

.all-contents {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.first-container {
    font-family: Roboto;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 200px;
    height: 400px;
}


.first-container h3 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.first-left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

button {
    width: 130px;
    height: auto;
    border-radius: 12px;
    background-color: #3882f6;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}